*{
    margin: 0;
    background: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 0 300px;
    align-items: center;
}

h1{
    text-align: center;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

button{
    border: 3px white solid;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}
button:hover{
    background:blue;
    color: white;
}

select{
    padding: 5px;
    margin: 10px;
}

#networkCanvas{
    background: black;
}

#carCanvas{
    background: lightgray;
    padding: 1px;
}